*{margin: 0;padding: 0;}

ul li{list-style: none;}
html,body{width: 100%;height: 100%;}
#content{
    width: 100%;
    height:1000px;
    margin: 0 auto;
    overflow: hidden;
}
.mod-new-reg-wrapper{
    position: absolute;
    top:60px;
    left:100px;
}
.mod-new-reg-logo img{
    width: 120px;
}
.mod-new-reg-text{
    width:400px;
    position: absolute;
    left:130px;
    top:200px;
    color:#fff;
}
.mod-new-reg-text h3{
    font-size:55px;
}
.mod-new-reg-text span{
    font-size:30px;
}
.mod-new-reg-footer{
    display: inline-block;
    color: #fff;
    width:260px;
    position: absolute;
    top:600px;
}
.mod-new-reg-footer img{
    width:22px;
    height:15px;
    margin-left: 10px;
    margin-right: 10px;
}
.mode-new-reg-help-text{
    margin-right: 10px;
}
.mod-reg {
    width:500px;
    height: 550px;
    position: absolute;
    right:15%;
    top:100px;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    padding-left:20px;
    padding-right:20px;
}
.new-reg-guide-login{
    margin: 30px auto;
    padding-left: 40px;
}
.new-reg-guide-login h3{
    font-size:40px;
}
.new-reg-guide-login span{
    font-size:15px;
}
#login_btn{
    color: blue;
}
#reg_content form{
    width: 500px;
    height: 340px; 
    margin: auto;       
}
#form-itemGroup {
    margin-top: 15px;
    width: 500px;
    height: 50px;
    text-align: center;
}
#form-sb{ 
    margin-top: 35px;
    width: 500px;
    height: 50px;
    text-align: center;
}
    #form-itemGroup label{
        font-size: 14px;
        display: inline-block;
        width: 60px;
        text-align: center;
        margin-right: 12px;
        
        
    }
    #form-itemGroup input{
        border-radius: 5px;
    }
    #userName,#userPhone,#userPasword{
        width: 348px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    #userConfirmPasword{
        width: 178px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        
    }
    .box{
            width: 161px;
            height: 40px;
            margin-left: 10px;
            background-color: #fff;
            border: 2px solid #dcdcdc;
    }
        
    #form-itemGroup span{
        font-size: 12px;
    }
    .divBtn{
            width: 425px;
            height: 50px;
            background: blue;
            border-radius: 50px;
            color: #fff;
    }
    #form-itemGroup p{
        line-height: 15px;
        font-size: 12px;
        text-align: left;
        padding-left: 120px;
    } 
    .default{ 
        width:400px; 
        height:15px; 
        line-height:12px; 
        color:#999; 
        } 
    .error{ 
        height:15px; 
        line-height:12px; 
        color:#F00; 
        }
    .success{ 
        height:15px; 
        line-height:12px; 
        color:#999; 
        }  
    
